*{
  padding: 0;
  margin: 0;
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Playfair Display', serif;
    }
    color: #363636;
  }
  /* background-color: #eac7a4; */
:root {
  font-family: 'Instrument Sans', sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  background-color: #eac7a4;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #FAF9F8; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1{
  font-weight: 700;
  font-size: 40px;
}
h3{
  font-weight: 600;
  font-size: 26px;
}
p{
  font-weight: 400;
  font-size: 16px;
}

.primary-butt{
  padding: 7px 16px;
  background-color: #DF6BA2; 
  color: #FAF9F8; 
  border: none;
  cursor: pointer; 
  border-radius: 10px;
  transition: background 0.3s, opacity 0.3s; 
  font-weight: 400;
  font-size: 16px;
}

.primary-butt:hover {
  background: linear-gradient(#DF6BA2 0%, #8E3B7C 100%); 
  border-radius: 10px;
}

.secondary-butt {
  padding: 7px 16px; 
  background-color: transparent; 
  border: 2px solid #DF6BA2; 
  border-radius: 10px; 
  color: #363636; 
  font-weight: 400; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.secondary-butt:hover {
  background-color: #DF6BA233;
  /* color: #DF6BA233;  */
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .card {
  padding: 2em;
} */

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}